$font-stack: Nunito, Helvetica, Arial, sans-serif;
$accent-color: #a75d5d;
$primary-color: #d3756b;
$background-color: rgba(240, 153, 125, 0.7);
$text-color: #fffff0;
$BrightRed: #f24621;

// Basic
html {
  font-family: $font-stack;
  color: $text-color;
  text-align: center;
}

button {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-inline: 8px;
  background-clip: border-box;
  background: linear-gradient(90deg, $background-color 50%, $text-color 0)
    var(--_p, 100%) / 200% no-repeat;
  transition: 0.2s;
  &:hover {
    --_p: 0%;
    color: $text-color;
    cursor: pointer;
  }
}

i {
  font-size: 1.2rem;
}

// Mixins
@mixin theme(
  $bg-color: BrightRed,
  $box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px
) {
  background-color: $bg-color;
  box-shadow: $box-shadow;
}

// Extends base
%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%wrapper-shared {
  @extend %flex;
  @include theme($primary-color, none);
  margin-bottom: 15px;
  padding: 16px 32px;
  border-radius: 6px;
}

%vertical-spacing {
  div {
    &:nth-child(n) {
      margin: 12px 0px;
    }
  }
}

// Custom styles

body {
  height: 100vh;
  @extend %flex;
  font-size: 1.4rem;
  background-color: #faaca8;
  background-image: linear-gradient(58deg, #faaca8 0%, #ddd6f3 100%);
}

.clock-container {
  padding: 20px 40px;
  @include theme($background-color);
  @extend %flex;
  flex-direction: column;
  border-radius: 12px;
  backdrop-filter: blur(13px);
}

.timer-wrapper {
  @extend %wrapper-shared;
  @extend %vertical-spacing;
  flex-direction: column;
  width: 60%;
  border: 4px solid #ddd6f3;
}

.control-wrapper {
  @extend %wrapper-shared;
  button#start_stop {
    i {
      display: none;
    }
    .active {
      display: block;
    }
  }
}

.setting-wrapper {
  @extend %wrapper-shared;
  justify-content: space-between;
  div {
    &:nth-child(n) {
      margin: 0px 16px;
    }
  }
  .break-wrapper,
  .session-wrapper {
    @extend %vertical-spacing;
  }
}

#break-length,
#session-length,
#time-left {
  color: #183a1d;
  font-weight: 800;
  font-size: 1.9rem;
}
