$font-stack: Helvetica, Arial, sans-serif;
$accent-color: #A75D5D;
$primary-color: #D3756B;
$background-color: #F0997D;
$text-color: #FFC3A1;
$BrightRed: #F24621;

// Mixins
@mixin theme($bg-color: BrightRed, $box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px) {
  background-color: $bg-color;
  box-shadow: $box-shadow;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container {
  padding: 20px 40px;
  @include theme($background-color);
  border-radius: 6px 12px;
}